.login-container {
    height: 100%;
    display: flex;
    justify-content: center; /* alinha horizontalmente ao centro */
    align-items: center; /* alinha verticalmente ao centro */
}

.login-container form{
    width: 100%; /* Se ele lgar numa tela menor q 300px, o width vai ser ocupado em 100% da tela, isso pra responsividade */
    max-width: 300px;
    display: flex;
    flex-direction: column; /* todos elementos ficam em coluna */
}

.login-container form input {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 48px ;
    padding: 0 20px; /* horizontal = 20px */
    font-size: 16px;
    color: #666;
}

.login-container form input::placeholder {
    color: #999;
}


.login-container form button {
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background: #DF4723;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}
